* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.top-nav {
    margin: auto;
    width: 60%;
    padding: 5px;
    border-bottom: 1px solid black;
}
    .top-nav h2, a {
        display: inline-block;
    }
    .top-nav a {
        margin-left: 84%;
    }

.contents {
    margin: 20px auto;
    width: 60%;
    padding: 5px;
}

form, #errors {
    display: inline-block;
    vertical-align: middle;
}
#errors {
    width: 35%;
    font-size: 15px;
    padding: 5px;
}
form {
    font-size: 15px;
    width: 40%;
    margin-left: 10%;
    padding: 50px;
}

form label, input[type=text], #status-msg {
    width: 95%;
    display: block;
    padding: 5px;
}

#login-btn, #register-btn {
    padding: 5px 10px;
    width: 80px;
    margin: 10px;
    margin-left: 79.2%;
}



